body{
    height:100vh;

}
.container {
    display:grid;
    grid-template-columns: .2fr .8fr;
    grid-template-areas:
    "headshot header"
    "contact skills"
    "contact experience"
    "contact education"
    
}
.headshot { 
    grid-area: headshot;
    width: 40%


}
.header {
    grid-area:header
     
    
      }
      
.contact {
    grid-area:contact;
    background-color: rebeccapurple;

}
.skills {
    grid-area:skills
}
.experience{
    grid-area:experience
}
.education{
    grid-area:education
}



